<app-personas *ngIf="selectedItem == 2" (messageEvent)="receiveMessagePersona($event)"
  (closeModal)="setSelectedItem2(0)"></app-personas>
<app-proveedor *ngIf="selectedItem == 1" (messageEvent)="receiveMessageProveedor($event)"
  (closeModal)="setSelectedItem(0)"></app-proveedor>
<app-importar-documento *ngIf="selectedItem == 3" [excelPreview]="excelPreview" [excelFileToImport]="excelFileToImport"
  (closeModal)="setSelectedItem(0)" (messageEvent)="receiveMessageImportDocumento($event)">
</app-importar-documento>

<div class="col-md-12">
  <div class="card">
    <div class="card-header" style="background-color: #81b3ac; color: white;">
      <div class="card-title">
        <h3>REGISTRO INGRESOS</h3>
      </div>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body" [ngClass]="{
      'bg-emision-recibo': nuevoIngreso.op_tipoemision === 'recibo',
      'bg-emision-factura': nuevoIngreso.op_tipoemision === 'factura',
      'bg-emision-documento': nuevoIngreso.op_tipoemision === 'documento'
    }" style="padding: 20px;">
      <form>
        <div class="row mb-4">
          <div class="col-md-12">
            <label>TIPO DE EMISION</label>
            <div class="btn-group w-full" role="group" aria-label="Tipo de Emision">
              <button type="button" class="btn" 
                [ngClass]="{'btn-success': nuevoIngreso.op_tipoemision === 'factura', 'btn-outline-success': nuevoIngreso.op_tipoemision !== 'factura'}"
                (click)="nuevoIngreso.op_tipoemision = 'factura'; onOpTipoEmisionChange('factura')">
                <i class="fas fa-file-invoice"></i> FACTURA
              </button>
              <button type="button" class="btn" 
                [ngClass]="{'btn-primary': nuevoIngreso.op_tipoemision === 'recibo', 'btn-outline-primary': nuevoIngreso.op_tipoemision !== 'recibo'}"
                (click)="nuevoIngreso.op_tipoemision = 'recibo'; onOpTipoEmisionChange('recibo')">
                <i class="fas fa-receipt"></i> RECIBOS
              </button>
              <button type="button" class="btn" 
                [ngClass]="{'btn-warning': nuevoIngreso.op_tipoemision === 'documento', 'btn-outline-warning': nuevoIngreso.op_tipoemision !== 'documento'}"
                (click)="nuevoIngreso.op_tipoemision = 'documento'; onOpTipoEmisionChange('documento')">
                <i class="fas fa-file-alt"></i> DOCUMENTO
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="nuevoIngreso.op_tipoemision === 'recibo'">
          <div class="row mb-4">

            <div class="col-md-4">
              <label for="tipo_rubro">Tipo de Rubro o Servicio</label>
              <select id="tipo_rubro" [(ngModel)]="nuevoIngreso.id_tipo_rubro" class="form-control w-full"
                (change)="getTipoRubroChange(nuevoIngreso.id_tipo_rubro)" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true">
                <option [ngValue]="''" selected disabled>Tipo de Rubro o Servicio...</option>
                <option *ngFor="let tipo of tipoRubros" [ngValue]="tipo.id_detalle_rubro">{{ tipo.servicio }}</option>
              </select>
              <div *ngIf="submitted && !nuevoIngreso.id_tipo_rubro" class="text-danger">
                El campo Tipo de Rubro es obligatorio.
              </div>
            </div>
       
            <div class="col-md-4" *ngIf="!isExcludedRubro(nuevoIngreso.id_tipo_rubro)">
              <label for="proveedor">Nro. de Formulario:</label>
              <p-floatlabel variant="on">
                <p-inputgroup>
                  <input pInputText id="num_form" [(ngModel)]="nuevoIngreso.num_form"
                    [ngModelOptions]="{standalone: true}" [attr.disabled]="true" appUpper required class="w-full"
                    (keyup.enter)="buscarAporte(nuevoIngreso.num_form)" />
                  <p-button type="button" icon="pi pi-search" severity="primary" (click)="buscarAporte(nuevoIngreso.num_form)"
                    [disabled]="!nuevoIngreso.num_form"></p-button>
                </p-inputgroup>
                <label for="num_form">Nro. de Formulario:<span style="color: red">*</span></label>
              </p-floatlabel>
            </div>
            
            <div class="col-md-2">
              <label for="fecha_reg">Fecha:</label>
              <p-floatlabel variant="on">
                <p-datepicker [(ngModel)]="nuevoIngreso.fecha" [ngModelOptions]="{standalone: true}" [showIcon]="true"
                  inputId="fecha_reg" dateFormat="dd/mm/yy" class="w-full" />
                <label for="fecha_reg">Fecha</label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.fecha" class="text-danger">
                La fecha es obligatoria.
              </div>
            </div>
            <div class="col-md-2">
              <label for="fecha_reg">Importar Excel</label>
              <label>&nbsp;</label>
              <button type="button" class="btn btn-success" (click)="fileInput.click()">
                <em class="fa fa-file-excel"></em>&nbsp; Importar Excel
              </button>
              <input #fileInput type="file" accept=".xlsx, .xls" (change)="onFileChangeRecibo($event)"
                style="display: none;" />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <label for="proveedor">Razón Social</label>
              <p-inputgroup class="w-full">
                <input pInputText id="proveedor" [(ngModel)]="nuevoIngreso.proveedor"
                  [ngModelOptions]="{standalone: true}" [attr.disabled]="true" required placeholder="Razon Social"
                  class="w-full" />
                <p-button type="button" icon="pi pi-search" severity="success" (click)="setModalProveedor()"></p-button>
              </p-inputgroup>
              <div *ngIf="submitted && !nuevoIngreso.proveedor" class="text-danger">
                El proveedor es obligatorio.
              </div>
            </div>
            <div class="col-md-4" *ngIf="isVentaDeCarnets(nuevoIngreso.id_tipo_rubro)">
              <label for="proveedor">Nro. Nit o Carnet de Indentidad:</label>
              <p-floatlabel variant="on">
                <p-inputgroup>
                  <input pInputText id="nit" [(ngModel)]="nuevoIngreso.nit" [ngModelOptions]="{standalone: true}"
                    [attr.disabled]="true" appUpper required class="w-full" (keyup.enter)="checkAndAddCarnetCI()" />
                  <p-button icon="pi pi-check" (click)="checkAndAddCarnetCI()"></p-button>
                </p-inputgroup>
                <label for="nit">Nit o CI:</label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.nit" class="text-danger">
                La cuenta es obligatoria.
              </div>
            </div>
  
            <div class="col-md-4">
              <label for="proveedor">Nro. Recibo:</label>
              <p-floatlabel variant="on">
                <input pInputText id="num_recibo" [(ngModel)]="nuevoIngreso.num_recibo"
                  [ngModelOptions]="{standalone: true}" appUpper required [disabled]="false" class="w-full" />
                <label for="num_recibo">Nro. Recibo:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.num_recibo" class="text-danger">
                El número de recibo es obligatorio.
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <!-- <div class="col-md-4">
              <label for="cerrado">Cerrado:</label>
              <p-floatlabel variant="on">
                <p-select [options]="[{label: 'SI', value: 'SI'}]" [(ngModel)]="nuevoIngreso.cerrado"
                  [ngModelOptions]="{standalone: true}" class="w-full" [disabled]="true" inputId="cerrado"></p-select>
                <label for="cerrado">Cerrado:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.cerrado" class="text-danger">
                El campo Cerrado es obligatorio.
              </div>
            </div> -->
     
            <div class="col-md-4">
              <label for="proveedor">Regional:</label>
              <p-floatlabel variant="on">
                <p-select [(ngModel)]="nuevoIngreso.lugar" [ngModelOptions]="{standalone: true}" [options]="[
                  {label: 'REGIONAL LA PAZ', value: 'REGIONAL LA PAZ'},
                  {label: 'REGIONAL COCHABAMBA', value: 'REGIONAL COCHABAMBA'},
                  {label: 'REGIONAL SANTA CRUZ', value: 'REGIONAL SANTA CRUZ'},
                  {label: 'REGIONAL ORURO', value: 'REGIONAL ORURO'},
                  {label: 'REGIONAL POTOSI', value: 'REGIONAL POTOSI'},
                  {label: 'REGIONAL CHUQUISACA', value: 'REGIONAL CHUQUISACA'},
                  {label: 'REGIONAL TARIJA', value: 'REGIONAL TARIJA'},
                  {label: 'REGIONAL PANDO', value: 'REGIONAL PANDO'},
                  {label: 'REGIONAL BENI', value: 'REGIONAL BENI'},
                ]" optionLabel="label" optionValue="value" placeholder="Regional" class="w-full" inputId="lugar">
                </p-select>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.lugar" class="text-danger">
                Obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="forma_pago">Forma de Pago</label>
              <select id="forma_pago" [(ngModel)]="nuevoIngreso.id_tipo_ingr_id" class="form-control w-full"
                (change)="getTipoIngresoChange(nuevoIngreso.id_tipo_ingr_id)" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true">
                <option [ngValue]="''" selected disabled>Forma de Pago...</option>
                <option *ngFor="let tipo of tipoIngresos" [ngValue]="tipo.id_tipo_ingr">{{ tipo.tipo_ingr }}</option>
              </select>
              <div *ngIf="submitted && !nuevoIngreso.id_tipo_ingr_id" class="text-danger">
                El campo Tipo de Ingreso es obligatorio.
              </div>
            </div>
              <div class="col-md-4">
              <label for="estado">Estado:</label>
              <p-floatlabel variant="on">
                <input pInputText id="estado" [(ngModel)]="nuevoIngreso.estado" [disabled]="true"
                  [ngModelOptions]="{standalone: true}" [attr.disabled]="true" appUpper required class="w-full" />
                <label for="estado">Estado:</label>
              </p-floatlabel>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <label for="monto">Monto:</label>
              <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevoIngreso.monto" inputId="monto" (ngModelChange)="calculateCostoTotal()"
                  [ngModelOptions]="{standalone: true}" required [minFractionDigits]="2" class="w-full" />
                <label for="monto">Monto:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.monto" class="text-danger">
                El monto es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="importe_total">Importe Total:</label>
              <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevoIngreso.importe_total" inputId="importe_total" [minFractionDigits]="2"
                  [ngModelOptions]="{standalone: true}" required class="w-full" />
                <label for="importe_total">Importe Total:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.importe_total" class="text-danger">
                El monto es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="observacion">Observación</label>
              <textarea pTextarea id="observacion" [(ngModel)]="nuevoIngreso.detalle"
                [ngModelOptions]="{standalone: true}" rows="5" cols="60" placeholder="Observacion" appUpper
                class="w-full form-control" >
              </textarea>
            </div>

          </div>
          <div class="row mb-4">
            <div class="col-md-4">
              <label for="demasia_checkbox" style="margin-right: 10px;">¿Con Demasia?</label>
              <p-checkbox [(ngModel)]="showDemasia" [binary]="true" [ngModelOptions]="{standalone: true}"
                inputId="demasia_checkbox"></p-checkbox>
              <div *ngIf="showDemasia" class="mt-2">
                <p-floatlabel variant="in">
                  <p-inputnumber [(ngModel)]="nuevoIngreso.deposito_dema" inputId="deposito_dema"
                    [minFractionDigits]="2" (ngModelChange)="calculateCostoTotal()"
                    [ngModelOptions]="{standalone: true}" required class="w-full" />
                  <label for="deposito_dema">Deposito Demasia</label>
                </p-floatlabel>
              </div>
            </div>
            <div class="col-md-4">
              <label for="amortizacion_checkbox" style="margin-right: 10px;">¿Con Amortizacion?</label>
              <p-checkbox [(ngModel)]="showAmortizacion" [binary]="true" [ngModelOptions]="{standalone: true}"
                inputId="amortizacion_checkbox"></p-checkbox>
              <div *ngIf="showAmortizacion" class="mt-2">
                <p-floatlabel variant="in">
                  <p-inputnumber [(ngModel)]="nuevoIngreso.amortizacion_pagos" inputId="amortizacion_pagos"
                    [minFractionDigits]="2" (ngModelChange)="calculateCostoTotal()"
                    [ngModelOptions]="{standalone: true}" required class="w-full" />
                  <label for="amortizacion_pagos">Amortizacion de Pagos</label>
                </p-floatlabel>
              </div>
            </div>

          </div>
        </div>
        <div *ngIf="nuevoIngreso.op_tipoemision === 'factura'">

          <div class="row mb-4">
            <div class="col-md-4">
              <label for="proveedor">Nro. Factura:</label>
              <p-floatlabel variant="on">
                <input pInputText id="num_factura" [(ngModel)]="nuevoIngreso.num_factura"
                  [ngModelOptions]="{standalone: true}" [disabled]="false" appUpper required class="w-full" />
                <label for="num_factura">Nro. Factura:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.num_factura" class="text-danger">
                El número de factura es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="lugar_select">Regional</label>
              <p-select id="lugar_select" [(ngModel)]="nuevoIngreso.lugar" [ngModelOptions]="{standalone: true}"
                [options]="[
                  {label: 'REGIONAL LA PAZ', value: 'REGIONAL LA PAZ'},
                  {label: 'REGIONAL COCHABAMBA', value: 'REGIONAL COCHABAMBA'},
                  {label: 'REGIONAL SANTA CRUZ', value: 'REGIONAL SANTA CRUZ'},
                  {label: 'REGIONAL ORURO', value: 'REGIONAL ORURO'},
                  {label: 'REGIONAL POTOSI', value: 'REGIONAL POTOSI'},
                  {label: 'REGIONAL CHUQUISACA', value: 'REGIONAL CHUQUISACA'},
                  {label: 'REGIONAL TARIJA', value: 'REGIONAL TARIJA'},
                  {label: 'REGIONAL PANDO', value: 'REGIONAL PANDO'},
                  {label: 'REGIONAL BENI', value: 'REGIONAL BENI'},
                ]" optionLabel="label" optionValue="value" placeholder="Regional" class="w-full">
              </p-select>
              <div *ngIf="submitted && !nuevoIngreso.lugar" class="text-danger">
                Campo obligatorio.
              </div>
            </div>
            <div class="col-md-2">
              <label for="proveedor">Fecha:</label>
              <p-floatlabel variant="on">
                <p-datepicker [(ngModel)]="nuevoIngreso.fecha" [ngModelOptions]="{standalone: true}" [showIcon]="true"
                  inputId="fecha_reg" dateFormat="dd/mm/yy" class="w-full" />
                <label for="fecha_reg">Fecha</label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.fecha" class="text-danger">
                La fecha es obligatoria.
              </div>
            </div>
            <div class="col-md-2">
              <label for="proveedor">Selecione un PDF:</label>
              <button type="button" class="btn btn-primary" (click)="fileInput.click()">
                <em class="fa fa-file-pdf"></em>&nbsp; Importar Factura
              </button>
              <input #fileInput type="file" accept=".pdf" (change)="onPdfSelected($event)" style="display: none;" />
            </div>

          </div>

          <div class="row mb-4">

            <div class="col-md-4">
              <label for="proveedor">Razón Social</label>
              <p-inputgroup class="w-full">
                <input pInputText id="proveedor" [(ngModel)]="nuevoIngreso.proveedor"
                  [ngModelOptions]="{standalone: true}" [attr.disabled]="true" required placeholder="Razon Social"
                  class="w-full" />
                <p-button type="button" icon="pi pi-search" severity="success" (click)="setModalProveedor()"></p-button>
              </p-inputgroup>
              <div *ngIf="submitted && !nuevoIngreso.proveedor" class="text-danger">
                El proveedor es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="proveedor">Nro. Nit:</label>
              <p-floatlabel variant="on">
                <p-inputgroup>
                  <input pInputText id="nit" [(ngModel)]="nuevoIngreso.nit" [ngModelOptions]="{standalone: true}"
                    [attr.disabled]="true" appUpper required class="w-full" (keyup.enter)="verifyNit()" />
                  <p-button icon="pi pi-check" (click)="verifyNit()"></p-button>
                </p-inputgroup>
                <label for="nit">Nit:</label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.nit" class="text-danger">
                La cuenta es obligatoria.
              </div>
            </div>
            <!-- <div class="col-md-4">
              <label for="proveedor">Cerrado:</label>
              <p-floatlabel variant="on">
                <p-select [options]="[{label: 'SI', value: 'SI'}]" [(ngModel)]="nuevoIngreso.cerrado"
                  [ngModelOptions]="{standalone: true}" class="w-full" [disabled]="true" inputId="cerrado"></p-select>
                <label for="cerrado">Cerrado:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.cerrado" class="text-danger">
                El campo Cerrado es obligatorio.
              </div>
            </div> -->
          </div>

          <div class="row mb-4">
            <div class="col-md-4">
              <label for="proveedor">Estado:</label>
              <p-floatlabel variant="on">
                <input pInputText id="estado" [(ngModel)]="nuevoIngreso.estado" [disabled]="true"
                  [ngModelOptions]="{standalone: true}" [attr.disabled]="true" appUpper required class="w-full" />
                <label for="estado">Estado:</label>
              </p-floatlabel>
            </div>

            <div class="col-md-4">
              <label for="forma_pago_select">Forma de Pago</label>
              <select id="forma_pago_select" [(ngModel)]="nuevoIngreso.id_tipo_ingr_id" class="form-control w-full"
                (change)="getTipoIngresoChange(nuevoIngreso.id_tipo_ingr_id)" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true">
                <option [ngValue]="''" selected disabled>Forma de Pago...</option>
                <option *ngFor="let tipo of tipoIngresos" [ngValue]="tipo.id_tipo_ingr">{{ tipo.tipo_ingr }}</option>
              </select>
              <div *ngIf="submitted && !nuevoIngreso.id_tipo_ingr_id" class="text-danger">
                El campo Tipo de Ingreso es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="tipo_rubro_select">Tipo de Rubro o Servicio</label>
              <select id="tipo_rubro_select" [(ngModel)]="nuevoIngreso.id_tipo_rubro" class="form-control w-full"
                (change)="getTipoRubroChange(nuevoIngreso.id_tipo_rubro)" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true">
                <option [ngValue]="''" selected disabled>Tipo de Rubro o Servicio...</option>
                <option *ngFor="let tipo of tipoRubros" [ngValue]="tipo.id_detalle_rubro">{{ tipo.servicio }}</option>
              </select>
              <div *ngIf="submitted && !nuevoIngreso.id_tipo_rubro" class="text-danger">
                El campo Tipo de Rubro es obligatorio.
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-md-4">
              <label for="monto">Monto:</label>
              <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevoIngreso.monto" inputId="monto" required [minFractionDigits]="2"
                  (ngModelChange)="calculateCostoTotal2()" [ngModelOptions]="{standalone: true}" class="w-full" />
                <label for="monto">Monto:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.monto" class="text-danger">
                El monto es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="importe_total">Importe Total:</label>
              <p-floatlabel variant="in">
                <p-inputnumber [(ngModel)]="nuevoIngreso.importe_total" inputId="importe_total" [minFractionDigits]="2"
                  (ngModelChange)="calculateCostoTotal2()" [ngModelOptions]="{standalone: true}" required
                  class="w-full" />
                <label for="importe_total">Importe Total:<span style="color: red">*</span></label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.importe_total" class="text-danger">
                El monto es obligatorio.
              </div>
            </div>
            <div class="col-md-4">
              <label for="observacion">Observación</label>
              <textarea pTextarea id="observacion" [(ngModel)]="nuevoIngreso.detalle"
                [ngModelOptions]="{standalone: true}" rows="5" cols="60" placeholder="Observacion" appUpper
                class="w-full form-control" >
              </textarea>
            </div>
          </div>
        </div>
        <div *ngIf="nuevoIngreso.op_tipoemision == 'documento'">

          <div class="row mb-4">
            <div class="col-md-4">
              <label for="lugar_select">Regional</label>
              <p-select id="lugar_select" [(ngModel)]="nuevoIngreso.lugar" [ngModelOptions]="{standalone: true}"
                [options]="[
                  {label: 'REGIONAL LA PAZ', value: 'REGIONAL LA PAZ'},
                  {label: 'REGIONAL COCHABAMBA', value: 'REGIONAL COCHABAMBA'},
                  {label: 'REGIONAL SANTA CRUZ', value: 'REGIONAL SANTA CRUZ'},
                  {label: 'REGIONAL ORURO', value: 'REGIONAL ORURO'},
                  {label: 'REGIONAL POTOSI', value: 'REGIONAL POTOSI'},
                  {label: 'REGIONAL CHUQUISACA', value: 'REGIONAL CHUQUISACA'},
                  {label: 'REGIONAL TARIJA', value: 'REGIONAL TARIJA'},
                  {label: 'REGIONAL PANDO', value: 'REGIONAL PANDO'},
                  {label: 'REGIONAL BENI', value: 'REGIONAL BENI'},
                ]" optionLabel="label" optionValue="value" placeholder="Regional" class="w-full">
              </p-select>
              <div *ngIf="submitted && !nuevoIngreso.lugar" class="text-danger">
                Obligatorio.
              </div>
            </div>

            <div class="col-md-4">
              <label for="fecha_reg">Fecha:</label>
              <p-floatlabel variant="on">
                <p-datepicker [(ngModel)]="nuevoIngreso.fecha" [ngModelOptions]="{standalone: true}" [showIcon]="true"
                  inputId="fecha_reg" [showOnFocus]="false" dateFormat="dd/mm/yy" class="w-full" />
                <label for="fecha_reg">Fecha</label>
              </p-floatlabel>
              <div *ngIf="submitted && !nuevoIngreso.fecha" class="text-danger">
                La fecha es obligatoria.
              </div>
            </div>

            <div class="col-md-4">
              <label for="fecha_reg">Importar Excel</label>
              <label>&nbsp;</label>
              <button type="button" class="btn btn-success w-full" (click)="fileInput.click()">
                <em class="fa fa-file-excel"></em>&nbsp; Importar Excel
              </button>
              <input #fileInput type="file" accept=".xlsx, .xls" (change)="onFileChange($event)"
                style="display: none;" />
            </div>

          </div>

          <div class="row mb-4">
            <div class="col-md-4">
              <label for="forma_pago_select">Forma de Pago</label>
              <select id="forma_pago_select" [(ngModel)]="nuevoIngreso.id_tipo_ingr_id"
                (change)="getTipoIngresoChange(nuevoIngreso.id_tipo_ingr_id)" class="form-control w-full"
                [ngModelOptions]="{standalone: true}">
                <option [ngValue]="''" selected disabled>Forma de Pago...</option>
                <option *ngFor="let tipo of tipoIngresos" [ngValue]="tipo.id_tipo_ingr">{{ tipo.tipo_ingr }}</option>
              </select>
              <div *ngIf="submitted && !nuevoIngreso.id_tipo_ingr_id" class="text-danger">
                El campo Tipo de Ingreso es obligatorio.
              </div>
            </div>

            <div class="col-md-4">
              <label for="tipo_rubro_select">Tipo de Rubro o Servicio</label>
              <select id="tipo_rubro_select" [(ngModel)]="nuevoIngreso.id_tipo_rubro"
                (change)="getTipoRubroChange(nuevoIngreso.id_tipo_rubro)" class="form-control w-full"
                [ngModelOptions]="{standalone: true}">
                <option [ngValue]="''" selected disabled>Tipo de Rubro o Servicio...</option>
                <option *ngFor="let tipo of tipoRubros" [ngValue]="tipo.id_detalle_rubro">{{ tipo.servicio }}</option>
              </select>
              <div *ngIf="submitted && !nuevoIngreso.id_tipo_rubro" class="text-danger">
                El campo Tipo de Rubro es obligatorio.
              </div>
            </div>

            <div class="col-md-4">
              <label for="observacion">Observación</label>
              <textarea pTextarea id="observacion" [(ngModel)]="nuevoIngreso.detalle"
                [ngModelOptions]="{standalone: true}" rows="5" cols="60" placeholder="Observacion" appUpper
                class="w-full form-control">
              </textarea>
            </div>
          </div>
        </div>
        <div class="card-footer" *ngIf="nuevoIngreso.op_tipoemision">
          <button (click)="goBack()" type="button" style="margin-left: 10px"
            class="btn btn-danger float-right btn-space">Cancelar</button>
          <button type="button" class="btn btn-success float-right btn-space" (click)="guardarRegistro()"
            [disabled]="isLoading">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, '': !isLoading}"></i>{{button}}</button>
        </div>





      </form>
      <!-- Agrega este bloque debajo de tu formulario de registro de ingresos -->
      <div *ngIf="pdfSrc && nuevoIngreso.op_tipoemision === 'factura'" class="card mt-5">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Vista previa del PDF</h5>
        </div>
        <div class="card-body p-0" style="height: 200px;">
          <iframe [src]="pdfSrc | safeUrl" width="100%" height="100%" frameborder="0"></iframe>
        </div>
      </div>
    </div>