<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <div class="card-title">
        <h3>EDITAR LIBRETA DE ORIGEN</h3>
      </div>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <form>
        <div class="row mb-2">
               <div class="col-md-2">
            <p-floatlabel>
              <input pInputText id="libreta" [(ngModel)]="actualizarLibreta.libreta" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true" appUpper />
              <label for="codigo">Libreta</label>
            </p-floatlabel>
            <div *ngIf="submitted && !actualizarLibreta.des_libreta" class="text-danger">
              El Libreta es obligatorio.
            </div>
          </div>
          <div class="col-md-2">
            <p-floatlabel>
              <input pInputText id="des_libreta" [(ngModel)]="actualizarLibreta.des_libreta" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true" appUpper />
              <label for="codigo">Descripcion</label>
            </p-floatlabel>
            <div *ngIf="submitted && !actualizarLibreta.des_libreta" class="text-danger">
              El Descripcion es obligatorio.
            </div>
          </div>
          <div class="col-md-2">
            <p-floatlabel >
              <input pInputText id="des_corta_libreta" [(ngModel)]="actualizarLibreta.des_corta_libreta" [ngModelOptions]="{standalone: true}"
                [attr.disabled]="true" appUpper />
              <label for="des_corta_libreta">Descripcion Corta</label>
            </p-floatlabel>
            <div *ngIf="submitted && !actualizarLibreta.des_corta_libreta" class="text-danger">
              El descripcion es obligatorio.
            </div>
          </div>
      
        </div>
        <div class="card-footer">
          <button type="button" style="margin-left: 10px" class="btn btn-danger float-right btn-space"
            (click)="goBack()">Cancelar</button>
          <button type="button" class="btn btn-success float-right btn-space " (click)="actualizarRegistro()"
            [disabled]="isLoading">
            <i class="fa" [ngClass]="{'fa-spin fa-spinner': isLoading, '': !isLoading}"></i>{{button}}</button>
        </div>
      </form>
    </div>
  </div>
</div>